[submodule ".local/share/zsh-syntax-highlighting"]
	path = .local/share/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".local/share/zsh-completions"]
	path = .local/share/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".local/share/zsh-autosuggestions"]
	path = .local/share/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule ".local/share/pure"]
	path = .local/share/pure
	url = git@github.com:sindresorhus/pure.git
[submodule ".local/share/zsh-async"]
	path = .local/share/zsh-async
	url = git@github.com:mafredri/zsh-async.git
[submodule ".local/share/zsh/zsh-async"]
	path = .local/share/zsh/zsh-async
	url = git@github.com:mafredri/zsh-async.git
[submodule ".local/share/zsh/pure"]
	path = .local/share/zsh/pure
	url = git@github.com:sindresorhus/pure.git
[submodule ".local/share/zsh/zsh-autosuggestions"]
	path = .local/share/zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule ".local/share/zsh/zsh-completions"]
	path = .local/share/zsh/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".local/share/zsh/zsh-syntax-highlighting"]
	path = .local/share/zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".local/share/tmux/tmux-resurrect"]
	path = .local/share/tmux/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule ".local/share/tmux/tmux-sessionist"]
	path = .local/share/tmux/tmux-sessionist
	url = git@github.com:tmux-plugins/tmux-sessionist.git
[submodule ".local/share/tmux/tmux-sensible"]
	path = .local/share/tmux/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible.git
