[Unit]
Description=Lock the screen on resume from suspend
Before=suspend.target sleep.target

[Service]
User=obabo
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/obabo/.scripts/lock.sh

[Install]
WantedBy=suspend.target sleep.target
