alias mixer='alsamixer'                                             
alias clean='yay -Rns $(pacman -Qtdq)'
alias ls='exa -l'
alias monitor='~/.config/monitor.sh'
alias hu='setxkbmap hu'
alias us='setxkbmap us'
alias scan='sudo iw dev wls1 scan | egrep "signal|SSID" | sed -e "s/\tsigna    l: //" -e "s/\tSSID: //" | awk '\''{ORS = (NR % 2 == 0)? "\n" : " "; print}    '\'' | sort'
alias pass="kpcli --kdb=/home/obabo/.Passes"
alias nc='ncat'
alias weather='curl wttr.in/Budapest'
alias git='hub'
alias win='i3lock -p win -u -i ~/.config/winLock.jpg'
alias task='taskell ~/Personal/Mindmap/Boards/Tasks.md'
alias cat='bat'
alias kill='fkill'
alias tldr='tldr -t base16'
alias howdoi='howdoi -c'
alias curl='http'
alias ga='git commit -m"Autocommit"'
alias note='vim ~/Personal/Mindmap/Notes/index.md'
